<h4>Application Form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
    <label>Full Name</label><br>
    <input type="text" name="full_name" placeholder="Vipin Sao">
  </div>

  <div class="mb-2">
    <label>Email</label><br>
    <input type="text" name="email" placeholder="vipin@gmail.com">
  </div>

  <div class="mb-2">
    <label>LinkedIn URL</label><br>
    <input type="text" name="linkedIn_url" placeholder="https://linkedIn.com/in/vipin">
  </div>

  <div class="mb-2">
    <label>
      Education
    </label><br>
    <textarea name="Education" placeholder="Enter your Education"></textarea>
  </div>

  <div class="mb-2">
    <label>Work Experience</label><br>
    <textarea name="work_experience" placeholder="Enter your Work Experience"></textarea>
  </div>

  <div class="mb-2">
    <label>Resume URL</label><br>
    <input type="text" name="resume_url">
  </div>

  <input type="submit">
</form>