<!DOCTYPE html>
<html>

<head>
  <title>{{job.title}} - JobSearch</title>
  {% include 'bootstrap.html' %}
</head>

<body>

  {% include 'nav.html' %}
  {% include 'NextPageHeading.html' %}
  <div class="container" style="height: 100%;">
    <h1 class="text-center mt-2 mb-4">JobSearch</h1>
    <h3 class="mb-2">{{job.title}}</h3>
    <p class="lead mt-0">{{job.location}}</p>
    <h4>Responsibilites</h4>
    <p>{{job.response}}</p>
    <h4>Requirements</h4>
    <p>{{job.requirements}}</p>
    <h4>Salary</h4>
    <p>{{job.currency}}{{job.salary}}</p>
  </div>
  {% include 'FooterNextPage.html' %}
</body>

</html>